
<div class="row p-5">
  
    <div class="col">
      <div class="card text-dark bg-light mb-3 text-center">
        <div class="card-body">
          <h5 class="card-title">ADD Todos</h5>
          <p class="card-text">Todo life easly.</p>
          <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">ADD Todo</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-dark bg-light mb-3 text-center">
        <div class="card-body ">
          <h5 class="card-title">ADD Group </h5>
          <p class="card-text">Group life Todos Easly</p>
          <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal2)">ADD Groups</button>
        </div>
      </div>
    </div>

   

    <div class="col">
    <div class="card text-dark bg-light mb-3 text-center">
      <div class="card-body ">
        <button class="btn btn-lg btn-outline-primary" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  </div>
  
  
  <ng-template #mymodal let-modal>
    <h4 class="text-center p-4">
  Add Todo
  </h4>
  <form [formGroup]="myForm" class="row g-3 ">
    <div class="form-group col-12">
  
      <div class="col-12">
          <label for="title" class="form-label">title</label>
          <input type="title" name="title" formControlName="title"  class="form-control" id="title" placeholder="title">
          <p *ngIf="myForm.controls.title.errors && myForm.controls.title.touched" class="alert alert-danger">
            name is not valid
            <span *ngIf="myForm.controls.title.errors.required && myForm.controls.title.touched">
                plz fill name input
            </span>
            <span *ngIf="myForm.controls.title.errors.maxlength && myForm.controls.title.touched">
            length must be less than 100
            </span>
            <span *ngIf="myForm.controls.title.errors.mixlength && myForm.controls.title.touched">
              length must be more than 3
              </span>
        </p>  
      </div>
  
      <div class="col-12">
        <label for="body" class="form-label">body</label>
        <input type="body" name="body" formControlName="body"  class="form-control" id="body" placeholder="body">
        <p *ngIf="myForm.controls.body.errors && myForm.controls.body.touched" class="alert alert-danger">
          name is not valid
          <span *ngIf="myForm.controls.body.errors.required && myForm.controls.body.touched">
              plz fill name input
          </span>
          <span *ngIf="myForm.controls.body.errors.maxlength && myForm.controls.body.touched">
          length must be less than 500
          </span>
          <span *ngIf="myForm.controls.body.errors.mixlength && myForm.controls.body.touched">
            length must be more than 10
            </span>
      </p> 
      </div>
  
    <div class="col-md-4 p-4" >
      <label for="status" class="form-label">status</label>
      <select id="status" formControlName="status" class="form-select">
        <option selected>to-do</option>
        <option>in-progress</option>
        <option>done</option>
      </select>
      <p *ngIf="myForm.controls.status.errors && myForm.controls.status.touched" class="alert alert-danger">
        status  is required
    </p> 
    </div>

    <div class="col-md-4 p-4" >
        <label for="group " class="form-label">Groups</label>
        <select id="group" formControlName="group" class="form-select">
          <option *ngFor=" let g of myService.groups" >{{g.gname}}</option>
          <option selected>any</option>
        </select>
        <p *ngIf="myForm.controls.group.errors && myForm.controls.group.touched" class="alert alert-danger">
          groups  is required
      </p> 
      </div>
  
    <div class="form-group text-center">
        <input type="button" class="btn btn-dark" value="add"
        (click)="ADDToDo()"(click)="modal.close('Save click')"
        />
    </div>
    </div>
  </form>
  </ng-template>
  
<ng-template #mymodal2 let-modal>
    <h4 class="text-center p-4">
  Add Group
  </h4>
  <form [formGroup]="myForm2" class="row g-3 ">
    <div class="form-group col-12">
  
      <div class="col-12">
          <label for="name" class="form-label">GroupName:</label>
          <input type="text" name="gname" formControlName="gname"  class="form-control" id="gname" placeholder="gname">
          <p *ngIf="myForm2.controls.gname.errors && myForm2.controls.gname.touched" class="alert alert-danger">
              name is not valid
              <span *ngIf="myForm2.controls.gname.errors.required && myForm2.controls.gname.touched">
                  plz fill name input
              </span>
              <span *ngIf="myForm2.controls.gname.errors.maxlength && myForm2.controls.gname.touched">
              length must be less than 100
              </span>
              <span *ngIf="myForm2.controls.gname.errors.minlength && myForm2.controls.gname.touched">
                length must be more than 3
                </span>
          </p>  
      </div>
    <div class="form-group text-center pt-3">
        <input type="button" class="btn btn-dark" value="add"
        (click)="ADDGroup()"(click)="modal.close('Save click')"
        />
    </div>
    </div>
  </form>
  </ng-template>